html {

  // Show a background image that can be used to debug your alignments.
  // @include debug-vertical-alignment();
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
  -webkit-font-smoothing: antialiased;   // maxvoltar.com/archive/-webkit-font-smoothing
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  font-family: $base-font-family;
  font-size: 62.5%; 
  width: 100%;
  height: 100%;
  @extend .strip-margin-padding;

}

body {
  @extend .strip-margin-padding;

	width: 100%;
	height: 100%;
  margin: 0;
}

a {
	@extend .strip-margin-padding;

	color: $link;
	text-decoration: none;
	
	&:hover   { color: $link-hover-state; }
	&:active  { color: $link-active-state;}
	&:visited { color: $link-visited-state;}
	&:focus   { color: $link-focus-state;}
}

p {
	@extend .strip-margin-padding;
	color: $textColor;
	line-height: 2;
}

img {
	max-width: 100%;
	height: auto;
}

::selection {
	color: $selection ;
  background: $selection-bg ; /* Safari */
  }
::-moz-selection {
	color: $selection ;
  background: $selection-bg ; /* Firefox */
}

div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, form, p,
blockquote, th, td {
  direction: ltr;
  @extend .strip-margin-padding;
}


/* TABLE STYLING */
table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}